{% extends 'admin/base.html.twig' %}

{% block title "Administration - Utilisateurs" %}

{% block menu %}
    {% set active_menu = "users" %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <h1 class="font-display">Utilisateurs</h1>
    <div class="table-head">
        <h3>Liste des utilisateurs</h3>
        <div>
            <a href="{{ path('app_admin_user_create') }}" class="btn">
                <i class="fa-solid fa-circle-plus"></i>
                &nbsp;Ajouter
            </a>
        </div>
    </div>

    {% set fields = {
        'id': 'Id',
        'lastname': 'Nom',
        'firstname': 'Prénom',
        'email': 'Email',
        'role': 'Role',
        'actions': 'Actions',
    } %}

    <table>
        <tr>
        {% for key, label in fields %}
            <th>{{  label }}</th>
        {% endfor %}
        </tr>
        {% for user in data %}
            <tr>
                {% for key, label in fields %}
                    <td>
                        {% if key == "actions" %}
                            <a href="{{ path('app_admin_user_update', {id: user.id}) }}" class="btn">
                                <i class="fa-solid fa-pen"></i>
                            </a>
                            <a href="{{ path('app_admin_user_delete', {id: user.id}) }}" class="btn error">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        {% else %}
                            {{ attribute(user, key) }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    {% for user in data %}
    {% endfor %}

{% endblock %}
