{% extends 'admin/base.html.twig' %}

{% block title "Administration - Adresses" %}

{% block menu %}
    {% set active_menu = "addresses" %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <h1 class="font-display">Adresses</h1>
    <div class="table-head">
        <h3>Liste des adresses</h3>
        <div>
            <a href="{{ path('app_admin_address_create') }}" class="btn">
                <i class="fa-solid fa-circle-plus"></i>
                &nbsp;Ajouter
            </a>
        </div>
    </div>

    {% set fields = {
        'id': 'Id',
        'label': 'Libelé',
        'city': 'Cité',
        'zipCode': 'Code Postal',
        'street': 'Rue',
        'actions': 'Actions',
    } %}

    <table>
        <tr>
        {% for key, label in fields %}
            <th>{{  label }}</th>
        {% endfor %}
        </tr>
        {% for address in data %}
            <tr>
                {% for key, label in fields %}
                    <td>
                        {% if key == "actions" %}
                            <a href="{{ path('app_admin_address_update', {id: address.id}) }}" class="btn">
                                <i class="fa-solid fa-pen"></i>
                            </a>
                            <a href="{{ path('app_admin_address_delete', {id: address.id}) }}" class="btn error">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        {% else %}
                            {{ attribute(address, key) }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}
